openapi: 3.1.0
info:
  title: LiteLLM API 文档
  description: 自建 LiteLLM 网关的 API 文档，完全兼容 OpenAI 格式。
  version: 1.11.0
servers:
  - url: https://aillm.sinocache.net
    description: LiteLLM 网关服务器
tags:
  # ========== 第一级分类：功能分类 ==========
  - name: chat_completions
    x-page-title: 对话生成
    x-page-icon: message
    description: 对话生成相关的 API，包括聊天补全和文本补全
  - name: embeddings
    x-page-title: 向量嵌入
    x-page-icon: database
    description: 向量嵌入相关的 API，用于生成文本的向量表示
  - name: image_generations
    x-page-title: 图片生成
    x-page-icon: image
    description: 图片生成相关的 API，根据文本提示生成图像
  - name: image_edits
    x-page-title: 图片编辑
    x-page-icon: edit
    description: 图片编辑相关的 API，根据原始图像和提示创建编辑后的图像
  - name: audio_transcriptions
    x-page-title: 音频转录
    x-page-icon: microphone
    description: 音频转录相关的 API，将音频文件转录为文本

  # ========== 第二级分类：对话生成 - 厂家 ==========
  - name: chat_completions_deepseek
    x-parent: chat_completions
    x-page-title: 深度求索
    x-page-icon: brain
    description: 深度求索（DeepSeek）的对话生成 API
  - name: chat_completions_zai
    x-parent: chat_completions
    x-page-title: 智谱
    x-page-icon: lightbulb
    description: 智谱（Zai）的对话生成 API
  - name: chat_completions_volengine
    x-parent: chat_completions
    x-page-title: 字节跳动
    x-page-icon: zap
    description: 字节跳动（VolEngine）的对话生成 API
  - name: chat_completions_dashscope
    x-parent: chat_completions
    x-page-title: 阿里千问
    x-page-icon: cloud
    description: 阿里千问（DashScope）的对话生成 API
  - name: chat_completions_openai
    x-parent: chat_completions
    x-page-title: OpenAI
    x-page-icon: globe
    description: OpenAI 的对话生成 API

  # ========== 第二级分类：向量嵌入 - 厂家 ==========
  - name: embeddings_deepseek
    x-parent: embeddings
    x-page-title: 深度求索
    x-page-icon: brain
    description: 深度求索（DeepSeek）的向量嵌入 API
  - name: embeddings_zai
    x-parent: embeddings
    x-page-title: 智谱
    x-page-icon: lightbulb
    description: 智谱（Zai）的向量嵌入 API
  - name: embeddings_volengine
    x-parent: embeddings
    x-page-title: 字节跳动
    x-page-icon: zap
    description: 字节跳动（VolEngine）的向量嵌入 API
  - name: embeddings_dashscope
    x-parent: embeddings
    x-page-title: 阿里千问
    x-page-icon: cloud
    description: 阿里千问（DashScope）的向量嵌入 API
  - name: embeddings_openai
    x-parent: embeddings
    x-page-title: OpenAI
    x-page-icon: globe
    description: OpenAI 的向量嵌入 API

  # ========== 第二级分类：图片生成 - 厂家 ==========
  - name: image_generations_deepseek
    x-parent: image_generations
    x-page-title: 深度求索
    x-page-icon: brain
    description: 深度求索（DeepSeek）的图片生成 API
  - name: image_generations_zai
    x-parent: image_generations
    x-page-title: 智谱
    x-page-icon: lightbulb
    description: 智谱（Zai）的图片生成 API
  - name: image_generations_volengine
    x-parent: image_generations
    x-page-title: 字节跳动
    x-page-icon: zap
    description: 字节跳动（VolEngine）的图片生成 API
  - name: image_generations_dashscope
    x-parent: image_generations
    x-page-title: 阿里千问
    x-page-icon: cloud
    description: 阿里千问（DashScope）的图片生成 API
  - name: image_generations_openai
    x-parent: image_generations
    x-page-title: OpenAI
    x-page-icon: globe
    description: OpenAI 的图片生成 API

  # ========== 第二级分类：图片编辑 - 厂家 ==========
  - name: image_edits_deepseek
    x-parent: image_edits
    x-page-title: 深度求索
    x-page-icon: brain
    description: 深度求索（DeepSeek）的图片编辑 API
  - name: image_edits_zai
    x-parent: image_edits
    x-page-title: 智谱
    x-page-icon: lightbulb
    description: 智谱（Zai）的图片编辑 API
  - name: image_edits_volengine
    x-parent: image_edits
    x-page-title: 字节跳动
    x-page-icon: zap
    description: 字节跳动（VolEngine）的图片编辑 API
  - name: image_edits_dashscope
    x-parent: image_edits
    x-page-title: 阿里千问
    x-page-icon: cloud
    description: 阿里千问（DashScope）的图片编辑 API
  - name: image_edits_openai
    x-parent: image_edits
    x-page-title: OpenAI
    x-page-icon: globe
    description: OpenAI 的图片编辑 API

  # ========== 第二级分类：音频转录 - 厂家 ==========
  - name: audio_transcriptions_deepseek
    x-parent: audio_transcriptions
    x-page-title: 深度求索
    x-page-icon: brain
    description: 深度求索（DeepSeek）的音频转录 API
  - name: audio_transcriptions_zai
    x-parent: audio_transcriptions
    x-page-title: 智谱
    x-page-icon: lightbulb
    description: 智谱（Zai）的音频转录 API
  - name: audio_transcriptions_volengine
    x-parent: audio_transcriptions
    x-page-title: 字节跳动
    x-page-icon: zap
    description: 字节跳动（VolEngine）的音频转录 API
  - name: audio_transcriptions_dashscope
    x-parent: audio_transcriptions
    x-page-title: 阿里千问
    x-page-icon: cloud
    description: 阿里千问（DashScope）的音频转录 API
  - name: audio_transcriptions_openai
    x-parent: audio_transcriptions
    x-page-title: OpenAI
    x-page-icon: globe
    description: OpenAI 的音频转录 API

  # ========== 第三级分类：对话生成 - OpenAI - 协议 ==========
  - name: chat_completions_openai_openai
    x-parent: chat_completions_openai
    x-page-title: OpenAI 协议
    x-page-icon: check-circle
    description: 支持 OpenAI 协议的对话生成 API
  - name: chat_completions_openai_anthropic
    x-parent: chat_completions_openai
    x-page-title: Anthropic 协议
    x-page-icon: check-circle
    description: 支持 Anthropic 协议的对话生成 API
  - name: chat_completions_openai_gemini
    x-parent: chat_completions_openai
    x-page-title: Gemini 协议
    x-page-icon: check-circle
    description: 支持 Gemini 协议的对话生成 API

  # ========== 第三级分类：向量嵌入 - OpenAI - 协议 ==========
  - name: embeddings_openai_openai
    x-parent: embeddings_openai
    x-page-title: OpenAI 协议
    x-page-icon: check-circle
    description: 支持 OpenAI 协议的向量嵌入 API
  - name: embeddings_openai_anthropic
    x-parent: embeddings_openai
    x-page-title: Anthropic 协议
    x-page-icon: check-circle
    description: 支持 Anthropic 协议的向量嵌入 API
  - name: embeddings_openai_gemini
    x-parent: embeddings_openai
    x-page-title: Gemini 协议
    x-page-icon: check-circle
    description: 支持 Gemini 协议的向量嵌入 API

  # ========== 第三级分类：图片生成 - OpenAI - 协议 ==========
  - name: image_generations_openai_openai
    x-parent: image_generations_openai
    x-page-title: OpenAI 协议
    x-page-icon: check-circle
    description: 支持 OpenAI 协议的图片生成 API
  - name: image_generations_openai_anthropic
    x-parent: image_generations_openai
    x-page-title: Anthropic 协议
    x-page-icon: check-circle
    description: 支持 Anthropic 协议的图片生成 API
  - name: image_generations_openai_gemini
    x-parent: image_generations_openai
    x-page-title: Gemini 协议
    x-page-icon: check-circle
    description: 支持 Gemini 协议的图片生成 API

  # ========== 第三级分类：图片编辑 - OpenAI - 协议 ==========
  - name: image_edits_openai_openai
    x-parent: image_edits_openai
    x-page-title: OpenAI 协议
    x-page-icon: check-circle
    description: 支持 OpenAI 协议的图片编辑 API
  - name: image_edits_openai_anthropic
    x-parent: image_edits_openai
    x-page-title: Anthropic 协议
    x-page-icon: check-circle
    description: 支持 Anthropic 协议的图片编辑 API
  - name: image_edits_openai_gemini
    x-parent: image_edits_openai
    x-page-title: Gemini 协议
    x-page-icon: check-circle
    description: 支持 Gemini 协议的图片编辑 API

  # ========== 第三级分类：音频转录 - OpenAI - 协议 ==========
  - name: audio_transcriptions_openai_openai
    x-parent: audio_transcriptions_openai
    x-page-title: OpenAI 协议
    x-page-icon: check-circle
    description: 支持 OpenAI 协议的音频转录 API
  - name: audio_transcriptions_openai_anthropic
    x-parent: audio_transcriptions_openai
    x-page-title: Anthropic 协议
    x-page-icon: check-circle
    description: 支持 Anthropic 协议的音频转录 API
  - name: audio_transcriptions_openai_gemini
    x-parent: audio_transcriptions_openai
    x-page-title: Gemini 协议
    x-page-icon: check-circle
    description: 支持 Gemini 协议的音频转录 API

paths:
  # ========== 对话生成 API ==========
  /v1/chat/completions:
    post:
      tags:
        - chat_completions
        - chat_completions_deepseek
        - chat_completions_zai
        - chat_completions_volengine
        - chat_completions_dashscope
        - chat_completions_openai
        - chat_completions_openai_openai
      summary: 创建聊天补全
      description: 基于输入的消息，生成模型回复。与 OpenAI 的 Chat API 完全兼容。
      operationId: createChatCompletion
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'

  /v1/completions:
    post:
      tags:
        - chat_completions
        - chat_completions_deepseek
        - chat_completions_zai
        - chat_completions_volengine
        - chat_completions_dashscope
        - chat_completions_openai
        - chat_completions_openai_openai
      summary: 创建文本补全
      description: 基于提供的提示，生成一个或多个补全结果。与 OpenAI 的 Completions API 兼容。
      operationId: createCompletion
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompletionRequest'
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'

  # ========== 向量嵌入 API ==========
  /v1/embeddings:
    post:
      tags:
        - embeddings
        - embeddings_deepseek
        - embeddings_zai
        - embeddings_volengine
        - embeddings_dashscope
        - embeddings_openai
        - embeddings_openai_openai
      summary: 创建嵌入向量
      description: 获取给定输入的向量表示，可用于相似度比较等任务。与 OpenAI 的 Embeddings API 兼容。
      operationId: createEmbedding
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingRequest'
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'

  # ========== 图片生成 API ==========
  /v1/images/generations:
    post:
      tags:
        - image_generations
        - image_generations_deepseek
        - image_generations_zai
        - image_generations_volengine
        - image_generations_dashscope
        - image_generations_openai
        - image_generations_openai_openai
      summary: 创建图像
      description: 根据文本提示生成图像。与 OpenAI 的 Images API (Create image) 完全兼容。
      operationId: createImageGeneration
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImageGenerationRequest'
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'

  # ========== 图片编辑 API ==========
  /v1/images/edits:
    post:
      tags:
        - image_edits
        - image_edits_deepseek
        - image_edits_zai
        - image_edits_volengine
        - image_edits_dashscope
        - image_edits_openai
        - image_edits_openai_openai
      summary: 编辑图像
      description: 根据原始图像和文本提示创建编辑后的图像。与 OpenAI 的 Images API (Create image edit) 完全兼容。
      operationId: createImageEdit
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateImageEditRequest'
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'

  # ========== 音频转录 API ==========
  /v1/audio/transcriptions:
    post:
      tags:
        - audio_transcriptions
        - audio_transcriptions_deepseek
        - audio_transcriptions_zai
        - audio_transcriptions_volengine
        - audio_transcriptions_dashscope
        - audio_transcriptions_openai
        - audio_transcriptions_openai_openai
      summary: 音频转录
      description: 将音频文件转录为文本。与 OpenAI 的 Audio API (Create transcription) 完全兼容。
      operationId: createTranscription
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranscriptionRequest'
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'

components:
  schemas:
    CreateChatCompletionRequest:
      type: object
      properties:
        model:
          type: string
        messages:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
              content:
                type: string
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        choices:
          type: array
          items:
            type: object
    CreateCompletionRequest:
      type: object
      properties:
        model:
          type: string
        prompt:
          type: string
    CompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        choices:
          type: array
          items:
            type: object
    CreateEmbeddingRequest:
      type: object
      properties:
        model:
          type: string
        input:
          type: string
    EmbeddingResponse:
      type: object
      properties:
        object:
          type: string
        data:
          type: array
          items:
            type: object
    CreateImageGenerationRequest:
      type: object
      properties:
        model:
          type: string
        prompt:
          type: string
    ImageResponse:
      type: object
      properties:
        created:
          type: integer
        data:
          type: array
          items:
            type: object
    CreateImageEditRequest:
      type: object
      properties:
        model:
          type: string
        image:
          type: string
          format: binary
        prompt:
          type: string
    CreateTranscriptionRequest:
      type: object
      properties:
        model:
          type: string
        file:
          type: string
          format: binary
    TranscriptionResponse:
      type: object
      properties:
        text:
          type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      name: Authorization
      in: header
