openapi: 3.1.0
info:
  title: LiteLLM API 文档
  description: 自建 LiteLLM 网关的 API 文档，完全兼容 OpenAI 格式。
  version: 1.11.0
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
      - object: block
        type: paragraph
        isVoid: false
        data: {}
        nodes:
          - object: text
            leaves:
              - object: leaf
                text: 自建 LiteLLM 网关的 API 文档，完全兼容 OpenAI 格式。
                marks: []
            key: w2stUpTQgrqE
        key: H26iKvLSn5z5
    key: HId86NEfTvX3
  x-gitbook-description-html: <p>自建 LiteLLM 网关的 API 文档，完全兼容 OpenAI 格式。</p>
servers:
  - url: https://aillm.sinocache.net
    description: LiteLLM 网关服务器
    x-gitbook-description-html: <p>LiteLLM 网关服务器</p>
paths:
  /v1/chat/completions:
    post:
      summary: 创建聊天补全
      description: |-
        基于输入的消息，生成模型回复。与 OpenAI 的 Chat API 完全兼容。

        > 💡 **提示**：选择下方的请求示例后，请手动在响应示例区域选择同名的示例以查看对应的输出。
      operationId: createChatCompletion
      tags:
        - Chat
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
            examples:
              default:
                summary: 基础
                description: 一个简单的对话示例，包含系统提示和用户消息。
                value:
                  model: gpt-4
                  messages:
                    - role: system
                      content: You are a helpful assistant.
                    - role: user
                      content: Hello!
                  temperature: 1
                  max_completion_tokens: 50
                  'n': 1
                  stream: false
                x-gitbook-description-html: <p>一个简单的对话示例，包含系统提示和用户消息。</p>
              streaming:
                summary: 流式
                description: '通过设置 stream: true 启用流式响应。'
                value:
                  model: gpt-4
                  messages:
                    - role: system
                      content: You are a helpful assistant.
                    - role: user
                      content: Tell me a story.
                  temperature: 0.7
                  max_completion_tokens: 100
                  stream: true
                x-gitbook-description-html: '<p>通过设置 stream: true 启用流式响应。</p>'
              image_input:
                summary: 图像输入（多模态）
                description: 使用支持视觉的模型分析图像。
                value:
                  model: gpt-4-vision-preview
                  messages:
                    - role: user
                      content:
                        - type: text
                          text: What's in this image?
                        - type: image_url
                          image_url:
                            url: https://example.com/cat.jpg
                  max_completion_tokens: 300
                x-gitbook-description-html: <p>使用支持视觉的模型分析图像。</p>
              functions:
                summary: 函数调用
                description: 定义工具（函数）并让模型决定是否调用。
                value:
                  model: gpt-4
                  messages:
                    - role: user
                      content: What's the weather in Boston?
                  tools:
                    - type: function
                      function:
                        name: get_current_weather
                        description: Get the current weather in a given location
                        parameters:
                          type: object
                          properties:
                            location:
                              type: string
                              description: The city and state, e.g. San Francisco, CA
                            unit:
                              type: string
                              enum:
                                - celsius
                                - fahrenheit
                          required:
                            - location
                  tool_choice: auto
                  max_completion_tokens: 150
                x-gitbook-description-html: <p>定义工具（函数）并让模型决定是否调用。</p>
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
              examples:
                default-response:
                  summary: 基础响应
                  description: 对应基础聊天请求的响应示例。
                  value:
                    id: chatcmpl-123
                    object: chat.completion
                    created: 1677652288
                    model: gpt-4
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: Hello there! How can I assist you today?
                        finish_reason: stop
                    usage:
                      prompt_tokens: 9
                      completion_tokens: 12
                      total_tokens: 21
                  x-gitbook-description-html: <p>对应基础聊天请求的响应示例。</p>
                image_input-response:
                  summary: 图像输入响应
                  description: 模型根据图像内容生成的描述。
                  value:
                    id: chatcmpl-789
                    object: chat.completion
                    created: 1677652300
                    model: gpt-4-vision-preview
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: >-
                            The image shows a cute cat sitting on a windowsill,
                            looking outside.
                        finish_reason: stop
                    usage:
                      prompt_tokens: 123
                      completion_tokens: 15
                      total_tokens: 138
                  x-gitbook-description-html: <p>模型根据图像内容生成的描述。</p>
                functions-response:
                  summary: 函数调用响应
                  description: 模型返回一个函数调用请求。
                  value:
                    id: chatcmpl-abc
                    object: chat.completion
                    created: 1677652310
                    model: gpt-4
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: null
                          tool_calls:
                            - id: call_123
                              type: function
                              function:
                                name: get_current_weather
                                arguments: >-
                                  {"location": "Boston, MA", "unit":
                                  "fahrenheit"}
                        finish_reason: tool_calls
                    usage:
                      prompt_tokens: 50
                      completion_tokens: 20
                      total_tokens: 70
                  x-gitbook-description-html: <p>模型返回一个函数调用请求。</p>
            text/event-stream:
              schema:
                type: string
                description: >-
                  流式响应以 Server-Sent Events 格式返回，每个事件是一行以 'data: ' 开头的 JSON
                  数据块，最后以 'data: [DONE]' 结束。
                x-gitbook-description-html: >-
                  <p>流式响应以 Server-Sent Events 格式返回，每个事件是一行以 'data: ' 开头的 JSON
                  数据块，最后以 'data: [DONE]' 结束。</p>
              examples:
                streaming-response:
                  summary: 流式响应示例
                  description: 展示流式聊天过程中陆续发送的事件。
                  value: >-
                    data:
                    {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1677652288,"model":"gpt-4","choices":[{"index":0,"delta":{"role":"assistant"},"finish_reason":null}]}

                    data:
                    {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1677652288,"model":"gpt-4","choices":[{"index":0,"delta":{"content":"Hello"},"finish_reason":null}]}

                    data:
                    {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1677652288,"model":"gpt-4","choices":[{"index":0,"delta":{"content":"
                    there!"},"finish_reason":null}]}

                    data:
                    {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1677652288,"model":"gpt-4","choices":[{"index":0,"delta":{},"finish_reason":"stop"}]}

                    data: [DONE]
                  x-gitbook-description-html: <p>展示流式聊天过程中陆续发送的事件。</p>
          x-gitbook-description-html: <p>成功响应</p>
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '429':
          $ref: '#/components/responses/ErrorResponse'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 基于输入的消息，生成模型回复。与 OpenAI 的 Chat API 完全兼容。
                    marks: []
                key: EB8gbmgijAcl
            key: qgXjSzD6vWzj
          - object: block
            type: blockquote
            isVoid: false
            data: {}
            nodes:
              - object: block
                type: paragraph
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: '💡 '
                        marks: []
                      - object: leaf
                        text: 提示
                        marks:
                          - object: mark
                            type: bold
                            data: {}
                      - object: leaf
                        text: ：选择下方的请求示例后，请手动在响应示例区域选择同名的示例以查看对应的输出。
                        marks: []
                    key: r9ZBETRM96Hn
                key: D5UopESl3gsm
            key: wsu2o0ppdi0T
        key: U4faaqv5z9a4
      x-gitbook-description-html: >-
        <p>基于输入的消息，生成模型回复。与 OpenAI 的 Chat API 完全兼容。</p><blockquote><p>💡
        <strong>提示</strong>：选择下方的请求示例后，请手动在响应示例区域选择同名的示例以查看对应的输出。</p></blockquote>
  /v1/completions:
    post:
      summary: 创建文本补全
      description: |-
        基于提供的提示，生成一个或多个补全结果。与 OpenAI 的 Completions API 兼容。

        > 💡 **提示**：选择下方的请求示例后，请手动在响应示例区域选择同名的示例以查看对应的输出。
      operationId: createCompletion
      tags:
        - Completions
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompletionRequest'
            examples:
              default:
                summary: 基础
                description: 一个简单的文本补全示例。
                value:
                  model: gpt-3.5-turbo-instruct
                  prompt: Once upon a time
                  max_tokens: 50
                  temperature: 0.7
                  'n': 1
                  stream: false
                x-gitbook-description-html: <p>一个简单的文本补全示例。</p>
              streaming:
                summary: 流式
                description: '通过设置 stream: true 启用流式响应。'
                value:
                  model: gpt-3.5-turbo-instruct
                  prompt: The future of AI is
                  max_tokens: 30
                  temperature: 0.8
                  stream: true
                x-gitbook-description-html: '<p>通过设置 stream: true 启用流式响应。</p>'
              logprobs:
                summary: 带 logprobs
                description: 返回每个 token 的对数概率。
                value:
                  model: gpt-3.5-turbo-instruct
                  prompt: What is the capital of France?
                  max_tokens: 10
                  logprobs: 5
                  echo: true
                x-gitbook-description-html: <p>返回每个 token 的对数概率。</p>
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionResponse'
              examples:
                default-response:
                  summary: 基础响应
                  description: 对应基础文本补全请求的响应示例。
                  value:
                    id: cmpl-123
                    object: text_completion
                    created: 1677652288
                    model: gpt-3.5-turbo-instruct
                    choices:
                      - text: ' in a small village, there lived a young girl named Lily.'
                        index: 0
                        logprobs: null
                        finish_reason: length
                    usage:
                      prompt_tokens: 4
                      completion_tokens: 12
                      total_tokens: 16
                  x-gitbook-description-html: <p>对应基础文本补全请求的响应示例。</p>
                logprobs-response:
                  summary: 带 logprobs 响应
                  description: 对应带 logprobs 请求的响应示例。
                  value:
                    id: cmpl-456
                    object: text_completion
                    created: 1677652290
                    model: gpt-3.5-turbo-instruct
                    choices:
                      - text: |-


                          The capital of France is Paris.
                        index: 0
                        logprobs:
                          tokens:
                            - |+

                            - |+

                            - The
                            - ' capital'
                            - ' of'
                            - ' France'
                            - ' is'
                            - ' Paris'
                            - .
                          token_logprobs:
                            - -0.5
                            - -0.3
                            - -1.2
                            - -0.8
                            - -0.4
                            - -0.6
                            - -0.9
                            - -1.5
                            - -0.2
                          top_logprobs:
                            - "\n": -0.5
                              "\n\n": -1.1
                            - "\n": -0.3
                              "\n\n": -1
                            - The: -1.2
                              A: -2
                            - ' capital': -1.5
                            - ' of': -1.3
                            - ' France': -1.4
                            - ' is': -1.6
                            - ' Paris': -2.2
                            - .: -1
                          text_offset:
                            - 0
                            - 1
                            - 2
                            - 5
                            - 12
                            - 15
                            - 22
                            - 25
                            - 30
                        finish_reason: stop
                    usage:
                      prompt_tokens: 7
                      completion_tokens: 9
                      total_tokens: 16
                  x-gitbook-description-html: <p>对应带 logprobs 请求的响应示例。</p>
            text/event-stream:
              schema:
                type: string
                description: >-
                  流式响应以 Server-Sent Events 格式返回，每个事件是一行以 'data: ' 开头的 JSON
                  数据块，最后以 'data: [DONE]' 结束。
                x-gitbook-description-html: >-
                  <p>流式响应以 Server-Sent Events 格式返回，每个事件是一行以 'data: ' 开头的 JSON
                  数据块，最后以 'data: [DONE]' 结束。</p>
              examples:
                streaming-response:
                  summary: 流式响应示例
                  description: 展示流式文本补全过程中陆续发送的事件。
                  value: >-
                    data:
                    {"id":"cmpl-789","object":"text_completion","created":1677652300,"model":"gpt-3.5-turbo-instruct","choices":[{"text":"The","index":0,"logprobs":null,"finish_reason":null}]}

                    data:
                    {"id":"cmpl-789","object":"text_completion","created":1677652300,"model":"gpt-3.5-turbo-instruct","choices":[{"text":"
                    future","index":0,"logprobs":null,"finish_reason":null}]}

                    data:
                    {"id":"cmpl-789","object":"text_completion","created":1677652300,"model":"gpt-3.5-turbo-instruct","choices":[{"text":"
                    of","index":0,"logprobs":null,"finish_reason":null}]}

                    data:
                    {"id":"cmpl-789","object":"text_completion","created":1677652300,"model":"gpt-3.5-turbo-instruct","choices":[{"text":"
                    AI","index":0,"logprobs":null,"finish_reason":null}]}

                    data:
                    {"id":"cmpl-789","object":"text_completion","created":1677652300,"model":"gpt-3.5-turbo-instruct","choices":[{"text":"
                    is","index":0,"logprobs":null,"finish_reason":null}]}

                    data:
                    {"id":"cmpl-789","object":"text_completion","created":1677652300,"model":"gpt-3.5-turbo-instruct","choices":[{"text":"
                    bright","index":0,"logprobs":null,"finish_reason":null}]}

                    data:
                    {"id":"cmpl-789","object":"text_completion","created":1677652300,"model":"gpt-3.5-turbo-instruct","choices":[{"text":".","index":0,"logprobs":null,"finish_reason":"length"}]}

                    data: [DONE]
                  x-gitbook-description-html: <p>展示流式文本补全过程中陆续发送的事件。</p>
          x-gitbook-description-html: <p>成功响应</p>
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '429':
          $ref: '#/components/responses/ErrorResponse'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 基于提供的提示，生成一个或多个补全结果。与 OpenAI 的 Completions API 兼容。
                    marks: []
                key: EHtuapXXXdOB
            key: pYzsszJeGbmQ
          - object: block
            type: blockquote
            isVoid: false
            data: {}
            nodes:
              - object: block
                type: paragraph
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: '💡 '
                        marks: []
                      - object: leaf
                        text: 提示
                        marks:
                          - object: mark
                            type: bold
                            data: {}
                      - object: leaf
                        text: ：选择下方的请求示例后，请手动在响应示例区域选择同名的示例以查看对应的输出。
                        marks: []
                    key: 1Y0UoDh0ZhFh
                key: WtVCXYQlXbGa
            key: YC5tzlUFtwim
        key: 4Og49GdQzWft
      x-gitbook-description-html: >-
        <p>基于提供的提示，生成一个或多个补全结果。与 OpenAI 的 Completions API
        兼容。</p><blockquote><p>💡
        <strong>提示</strong>：选择下方的请求示例后，请手动在响应示例区域选择同名的示例以查看对应的输出。</p></blockquote>
  /v1/embeddings:
    post:
      summary: 创建嵌入向量
      description: 获取给定输入的向量表示，可用于相似度比较等任务。与 OpenAI 的 Embeddings API 兼容。
      operationId: createEmbedding
      tags:
        - Embeddings
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingRequest'
            examples:
              default:
                summary: 基础
                description: 对单个字符串输入生成嵌入向量。
                value:
                  model: text-embedding-ada-002
                  input: The quick brown fox jumps over the lazy dog
                x-gitbook-description-html: <p>对单个字符串输入生成嵌入向量。</p>
              multiple-inputs:
                summary: 多输入
                description: 对多个字符串输入生成嵌入向量。
                value:
                  model: text-embedding-ada-002
                  input:
                    - Hello world
                    - OpenAI is amazing
                x-gitbook-description-html: <p>对多个字符串输入生成嵌入向量。</p>
              base64-format:
                summary: Base64 格式
                description: 以 base64 编码返回嵌入向量。
                value:
                  model: text-embedding-3-small
                  input: Example text
                  encoding_format: base64
                x-gitbook-description-html: <p>以 base64 编码返回嵌入向量。</p>
              with-dimensions:
                summary: 指定维度
                description: 为 text-embedding-3 模型指定输出维度。
                value:
                  model: text-embedding-3-small
                  input: Example text
                  dimensions: 256
                x-gitbook-description-html: <p>为 text-embedding-3 模型指定输出维度。</p>
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
              examples:
                default-response:
                  summary: 基础响应
                  description: 对应单个输入的基础响应。
                  value:
                    object: list
                    data:
                      - object: embedding
                        embedding:
                          - -0.006929283495992422
                          - -0.005336422007530928
                          - -0.024047505110502243
                        index: 0
                    model: text-embedding-ada-002
                    usage:
                      prompt_tokens: 8
                      total_tokens: 8
                  x-gitbook-description-html: <p>对应单个输入的基础响应。</p>
                multiple-inputs-response:
                  summary: 多输入响应
                  description: 对应多个输入的响应，包含多个嵌入向量。
                  value:
                    object: list
                    data:
                      - object: embedding
                        embedding:
                          - 0.1
                          - 0.2
                          - 0.3
                        index: 0
                      - object: embedding
                        embedding:
                          - 0.4
                          - 0.5
                          - 0.6
                        index: 1
                    model: text-embedding-ada-002
                    usage:
                      prompt_tokens: 6
                      total_tokens: 6
                  x-gitbook-description-html: <p>对应多个输入的响应，包含多个嵌入向量。</p>
                base64-response:
                  summary: Base64 响应
                  description: 嵌入向量以 base64 编码返回。
                  value:
                    object: list
                    data:
                      - object: embedding
                        embedding: wg3v7f...
                        index: 0
                    model: text-embedding-3-small
                    usage:
                      prompt_tokens: 2
                      total_tokens: 2
                  x-gitbook-description-html: <p>嵌入向量以 base64 编码返回。</p>
          x-gitbook-description-html: <p>成功响应</p>
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '429':
          $ref: '#/components/responses/ErrorResponse'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 获取给定输入的向量表示，可用于相似度比较等任务。与 OpenAI 的 Embeddings API 兼容。
                    marks: []
                key: yqLWgZTTTX4P
            key: W3QTwwsYfhVE
        key: 2suTdBjFDkni
      x-gitbook-description-html: <p>获取给定输入的向量表示，可用于相似度比较等任务。与 OpenAI 的 Embeddings API 兼容。</p>
  /v1/models:
    get:
      summary: 列出可用模型
      description: 返回网关中可用模型的列表。与 OpenAI 的 List Models API 兼容。
      operationId: listModels
      tags:
        - Models
      security:
        - APIKeyHeader: []
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
              examples:
                default-response:
                  summary: 模型列表
                  description: 包含所有可用模型的列表。
                  value:
                    object: list
                    data:
                      - id: gpt-4
                        object: model
                        created: 1687882411
                        owned_by: openai
                      - id: gpt-3.5-turbo
                        object: model
                        created: 1677610602
                        owned_by: openai
                      - id: text-embedding-ada-002
                        object: model
                        created: 1671217299
                        owned_by: openai
                  x-gitbook-description-html: <p>包含所有可用模型的列表。</p>
          x-gitbook-description-html: <p>成功响应</p>
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 返回网关中可用模型的列表。与 OpenAI 的 List Models API 兼容。
                    marks: []
                key: CocU0mXplLao
            key: E1s48FGailra
        key: sMqjP4LT64JJ
      x-gitbook-description-html: <p>返回网关中可用模型的列表。与 OpenAI 的 List Models API 兼容。</p>
  /v1/models/{model}:
    get:
      summary: 获取模型信息
      description: 获取特定模型的详细信息。与 OpenAI 的 Retrieve Model API 兼容。
      operationId: retrieveModel
      tags:
        - Models
      security:
        - APIKeyHeader: []
      parameters:
        - name: model
          in: path
          required: true
          schema:
            type: string
          description: 模型 ID
          x-gitbook-description-html: <p>模型 ID</p>
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
              examples:
                default-response:
                  summary: 模型详情
                  description: 指定模型的详细信息。
                  value:
                    id: gpt-4
                    object: model
                    created: 1687882411
                    owned_by: openai
                  x-gitbook-description-html: <p>指定模型的详细信息。</p>
          x-gitbook-description-html: <p>成功响应</p>
        '404':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 获取特定模型的详细信息。与 OpenAI 的 Retrieve Model API 兼容。
                    marks: []
                key: q1tHj5Clw1k9
            key: qYmdRJaIilP2
        key: BYlJARLcOUP1
      x-gitbook-description-html: <p>获取特定模型的详细信息。与 OpenAI 的 Retrieve Model API 兼容。</p>
  /v1/images/generations:
    post:
      summary: 创建图像
      description: |-
        根据文本提示生成图像。与 OpenAI 的 Images API (Create image) 完全兼容。

        > 💡 **提示**：选择下方的请求示例后，请手动在响应示例区域选择同名的示例以查看对应的输出。
      operationId: createImageGeneration
      tags:
        - Images
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImageGenerationRequest'
            examples:
              default:
                summary: 基础
                description: 生成一张 1024x1024 的图像。
                value:
                  model: dall-e-3
                  prompt: A cute cat sitting on a windowsill
                  'n': 1
                  size: 1024x1024
                x-gitbook-description-html: <p>生成一张 1024x1024 的图像。</p>
              hd-quality:
                summary: 高清质量
                description: 生成高清质量的图像。
                value:
                  model: dall-e-3
                  prompt: A futuristic cityscape at sunset
                  'n': 1
                  quality: hd
                  size: 1792x1024
                x-gitbook-description-html: <p>生成高清质量的图像。</p>
              b64-json:
                summary: Base64 格式
                description: 返回 base64 编码的图像数据。
                value:
                  model: dall-e-2
                  prompt: A beautiful landscape
                  'n': 2
                  size: 512x512
                  response_format: b64_json
                x-gitbook-description-html: <p>返回 base64 编码的图像数据。</p>
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
              examples:
                default-response:
                  summary: 基础响应
                  description: 返回包含图像 URL 和可选字段的完整响应。
                  value:
                    created: 1680000000
                    background: opaque
                    output_format: png
                    quality: high
                    size: 1024x1024
                    data:
                      - url: https://example.com/images/cat.png
                        revised_prompt: >-
                          A cute cat sitting on a windowsill, looking out at a
                          garden
                    usage:
                      total_tokens: 100
                      input_tokens: 50
                      output_tokens: 50
                      input_tokens_details:
                        text_tokens: 10
                        image_tokens: 40
                  x-gitbook-description-html: <p>返回包含图像 URL 和可选字段的完整响应。</p>
                b64-response:
                  summary: Base64 响应
                  description: 返回包含 base64 编码图像数据和可选字段的响应。
                  value:
                    created: 1680000001
                    background: opaque
                    output_format: png
                    quality: high
                    size: 1024x1024
                    data:
                      - b64_json: iVBORw0KGgoAAAANSUhEUgAA...
                        revised_prompt: A beautiful landscape with mountains and a lake
                      - b64_json: iVBORw0KGgoAAAANSUhEUgAA...
                    usage:
                      total_tokens: 200
                      input_tokens: 100
                      output_tokens: 100
                      input_tokens_details:
                        text_tokens: 20
                        image_tokens: 80
                  x-gitbook-description-html: <p>返回包含 base64 编码图像数据和可选字段的响应。</p>
            text/event-stream:
              schema:
                type: string
                description: 流式响应以 Server-Sent Events 格式返回，每个事件由 'event:' 和 'data:' 行组成。
                x-gitbook-description-html: >-
                  <p>流式响应以 Server-Sent Events 格式返回，每个事件由 'event:' 和 'data:'
                  行组成。</p>
              examples:
                streaming-response:
                  summary: 流式响应示例
                  description: 展示图像生成过程中的中间和最终事件。
                  value: >
                    event: image_generation.partial_image

                    data:
                    {"type":"image_generation.partial_image","b64_json":"iVBORw0K...","partial_image_index":0}


                    event: image_generation.completed

                    data:
                    {"type":"image_generation.completed","b64_json":"iVBORw0K...","usage":{"total_tokens":100,"input_tokens":50,"output_tokens":50,"input_tokens_details":{"text_tokens":10,"image_tokens":40}}}
                  x-gitbook-description-html: <p>展示图像生成过程中的中间和最终事件。</p>
          x-gitbook-description-html: <p>成功响应</p>
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '429':
          $ref: '#/components/responses/ErrorResponse'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 根据文本提示生成图像。与 OpenAI 的 Images API (Create image) 完全兼容。
                    marks: []
                key: HvaVPHXkXfr1
            key: aPIiiMLLxmkl
          - object: block
            type: blockquote
            isVoid: false
            data: {}
            nodes:
              - object: block
                type: paragraph
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: '💡 '
                        marks: []
                      - object: leaf
                        text: 提示
                        marks:
                          - object: mark
                            type: bold
                            data: {}
                      - object: leaf
                        text: ：选择下方的请求示例后，请手动在响应示例区域选择同名的示例以查看对应的输出。
                        marks: []
                    key: Wh7h7k7dZRBh
                key: SL0Ey9o3kTwI
            key: ziTh2yenMqkU
        key: 4P8HrCQRj8ve
      x-gitbook-description-html: >-
        <p>根据文本提示生成图像。与 OpenAI 的 Images API (Create image)
        完全兼容。</p><blockquote><p>💡
        <strong>提示</strong>：选择下方的请求示例后，请手动在响应示例区域选择同名的示例以查看对应的输出。</p></blockquote>
  /v1/images/edits:
    post:
      summary: 编辑图像
      description: >-
        根据原始图像和文本提示创建编辑后的图像。与 OpenAI 的 Images API (Create image edit) 完全兼容。


        > 💡 **提示**：选择下方的请求示例后，请手动在响应示例区域选择同名的示例以查看对应的输出。


        **图像引用方式**：

        - 通过直接上传文件（本示例使用的方式），对应 curl 命令格式：`-F "image[]=@body-lotion.png" -F
        "image[]=@bath-bomb.png" -F "mask=@mask.png"`

        - 通过已上传文件的 ID（`file_id`）

        - 通过图像 URL（`image_url`）


        最大文件大小：20 MB，图像需为正方形 PNG 格式。
      operationId: createImageEdit
      tags:
        - Images
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateImageEditRequest'
            encoding:
              images:
                style: form
                explode: true
            examples:
              default:
                summary: 多图像编辑
                description: 使用两个图像文件进行编辑，并可选使用蒙版。
                value:
                  model: dall-e-2
                  image[]:
                    - '@body-lotion.png'
                  mask: '@mask.png'
                  prompt: Add hats to all people
                  'n': 1
                  size: 1024x1024
                x-gitbook-description-html: <p>使用两个图像文件进行编辑，并可选使用蒙版。</p>
              no-mask:
                summary: 无蒙版
                description: 仅使用图像和提示进行编辑。
                value:
                  model: dall-e-2
                  image[]:
                    - '@body-lotion.png'
                  prompt: Change the background to a beach
                  'n': 1
                  size: 1024x1024
                x-gitbook-description-html: <p>仅使用图像和提示进行编辑。</p>
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
              examples:
                default-response:
                  summary: 编辑响应
                  description: 返回编辑后的图像及相关元数据。
                  value:
                    created: 1680000002
                    background: opaque
                    output_format: png
                    quality: high
                    size: 1024x1024
                    data:
                      - url: https://example.com/images/edited.png
                        revised_prompt: A person with a hat, standing in a sunny park
                    usage:
                      total_tokens: 120
                      input_tokens: 60
                      output_tokens: 60
                      input_tokens_details:
                        text_tokens: 12
                        image_tokens: 48
                  x-gitbook-description-html: <p>返回编辑后的图像及相关元数据。</p>
            text/event-stream:
              schema:
                type: string
                description: 流式响应以 Server-Sent Events 格式返回，每个事件由 'event:' 和 'data:' 行组成。
                x-gitbook-description-html: >-
                  <p>流式响应以 Server-Sent Events 格式返回，每个事件由 'event:' 和 'data:'
                  行组成。</p>
              examples:
                streaming-response:
                  summary: 流式响应示例
                  description: 展示图像编辑过程中的中间和最终事件。
                  value: >
                    event: image_edit.partial_image

                    data:
                    {"type":"image_edit.partial_image","b64_json":"iVBORw0K...","partial_image_index":0}


                    event: image_edit.completed

                    data:
                    {"type":"image_edit.completed","b64_json":"iVBORw0K...","usage":{"total_tokens":100,"input_tokens":50,"output_tokens":50,"input_tokens_details":{"text_tokens":10,"image_tokens":40}}}
                  x-gitbook-description-html: <p>展示图像编辑过程中的中间和最终事件。</p>
          x-gitbook-description-html: <p>成功响应</p>
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '429':
          $ref: '#/components/responses/ErrorResponse'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      根据原始图像和文本提示创建编辑后的图像。与 OpenAI 的 Images API (Create image
                      edit) 完全兼容。
                    marks: []
                key: rn71J40P3Fk2
            key: 5JP6StsBeubb
          - object: block
            type: blockquote
            isVoid: false
            data: {}
            nodes:
              - object: block
                type: paragraph
                isVoid: false
                data: {}
                nodes:
                  - object: text
                    leaves:
                      - object: leaf
                        text: '💡 '
                        marks: []
                      - object: leaf
                        text: 提示
                        marks:
                          - object: mark
                            type: bold
                            data: {}
                      - object: leaf
                        text: ：选择下方的请求示例后，请手动在响应示例区域选择同名的示例以查看对应的输出。
                        marks: []
                    key: DrZSKhFanlBU
                key: cKIVmg0ctBOY
            key: siiuTCYvvPrS
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 图像引用方式
                    marks:
                      - object: mark
                        type: bold
                        data: {}
                  - object: leaf
                    text: ：
                    marks: []
                key: jrMwtfThr3gD
            key: FcZ5sd8LJQRY
          - object: block
            type: list-unordered
            isVoid: false
            data: {}
            nodes:
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: 通过直接上传文件（本示例使用的方式），对应 curl 命令格式：
                            marks: []
                          - object: leaf
                            text: >-
                              -F "image[]=@body-lotion.png" -F
                              "image[]=@bath-bomb.png" -F "mask=@mask.png"
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: ITJUasSgafXP
                    key: EGkxhFYsYT51
                key: VtyMvVHh3UUZ
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: 通过已上传文件的 ID（
                            marks: []
                          - object: leaf
                            text: file_id
                            marks:
                              - object: mark
                                type: code
                                data: {}
                          - object: leaf
                            text: ）
                            marks: []
                        key: iljU5AmPaN63
                    key: 6JR2ccQuC2DW
                key: 90dXdDuFoQYz
              - object: block
                type: list-item
                isVoid: false
                data: {}
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: 通过图像 URL（
                            marks: []
                          - object: leaf
                            text: image_url
                            marks:
                              - object: mark
                                type: code
                                data: {}
                          - object: leaf
                            text: ）
                            marks: []
                        key: A934yDVPVbyg
                    key: bZPK9JAlL1RF
                key: 0af1xRYsLGoL
            key: Pm3mxrbCuhCQ
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 最大文件大小：20 MB，图像需为正方形 PNG 格式。
                    marks: []
                key: oIIe1BZdvQEk
            key: luxwksvuIUTQ
        key: AsB5skMiiCTf
      x-gitbook-description-html: >-
        <p>根据原始图像和文本提示创建编辑后的图像。与 OpenAI 的 Images API (Create image edit)
        完全兼容。</p><blockquote><p>💡
        <strong>提示</strong>：选择下方的请求示例后，请手动在响应示例区域选择同名的示例以查看对应的输出。</p></blockquote><p><strong>图像引用方式</strong>：</p><ul><li>通过直接上传文件（本示例使用的方式），对应
        curl 命令格式：<code>-F "image[]=@body-lotion.png" -F
        "image[]=@bath-bomb.png" -F "mask=@mask.png"</code></li><li>通过已上传文件的
        ID（<code>file_id</code>）</li><li>通过图像
        URL（<code>image_url</code>）</li></ul><p>最大文件大小：20 MB，图像需为正方形 PNG 格式。</p>
  /v1/audio/transcriptions:
    post:
      summary: 创建音频转录
      description: 将音频文件转录为文本。与 OpenAI 的 Audio API (Create transcription) 兼容。
      operationId: createTranscription
      tags:
        - Audio
      security:
        - APIKeyHeader: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranscriptionRequest'
            examples:
              default:
                summary: 基础
                description: 将音频文件转录为 JSON 格式。
                value:
                  model: whisper-1
                  file: (binary)
                  response_format: json
                x-gitbook-description-html: <p>将音频文件转录为 JSON 格式。</p>
              with-timestamps:
                summary: 带时间戳
                description: 获取包含单词级时间戳的详细转录。
                value:
                  model: whisper-1
                  file: (binary)
                  response_format: verbose_json
                  timestamp_granularities:
                    - word
                x-gitbook-description-html: <p>获取包含单词级时间戳的详细转录。</p>
              srt-format:
                summary: SRT 字幕
                description: 以 SRT 字幕格式返回转录。
                value:
                  model: whisper-1
                  file: (binary)
                  response_format: srt
                x-gitbook-description-html: <p>以 SRT 字幕格式返回转录。</p>
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionResponse'
              examples:
                json-response:
                  summary: JSON 响应
                  description: 默认的 JSON 格式转录。
                  value:
                    text: Hello, this is a test transcription.
                  x-gitbook-description-html: <p>默认的 JSON 格式转录。</p>
                verbose-json-response:
                  summary: 详细 JSON 响应
                  description: 包含单词级时间戳的详细转录。
                  value:
                    task: transcribe
                    language: english
                    duration: 2.95
                    text: Hello, this is a test transcription.
                    words:
                      - word: Hello
                        start: 0.1
                        end: 0.5
                      - word: this
                        start: 0.6
                        end: 0.8
                      - word: is
                        start: 0.9
                        end: 1
                      - word: a
                        start: 1.1
                        end: 1.2
                      - word: test
                        start: 1.3
                        end: 1.8
                      - word: transcription
                        start: 1.9
                        end: 2.8
                  x-gitbook-description-html: <p>包含单词级时间戳的详细转录。</p>
            application/x-srt:
              schema:
                type: string
                description: SRT 字幕格式的转录。
                x-gitbook-description-html: <p>SRT 字幕格式的转录。</p>
              examples:
                srt-response:
                  summary: SRT 响应
                  value: |-
                    1
                    00:00:00,100 --> 00:00:00,500
                    Hello

                    2
                    00:00:00,600 --> 00:00:00,800
                    this

                    3
                    00:00:00,900 --> 00:00:01,000
                    is

                    4
                    00:00:01,100 --> 00:00:01,200
                    a

                    5
                    00:00:01,300 --> 00:00:01,800
                    test

                    6
                    00:00:01,900 --> 00:00:02,800
                    transcription
            text/plain:
              schema:
                type: string
                description: 纯文本格式的转录。
                x-gitbook-description-html: <p>纯文本格式的转录。</p>
              examples:
                text-response:
                  summary: 纯文本响应
                  value: Hello, this is a test transcription.
          x-gitbook-description-html: <p>成功响应</p>
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '429':
          $ref: '#/components/responses/ErrorResponse'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 将音频文件转录为文本。与 OpenAI 的 Audio API (Create transcription) 兼容。
                    marks: []
                key: klPNYKypaTU3
            key: h4wBBrStZiGe
        key: JEpKhvUguWj7
      x-gitbook-description-html: <p>将音频文件转录为文本。与 OpenAI 的 Audio API (Create transcription) 兼容。</p>
components:
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 使用 Bearer 令牌进行认证，格式：'Bearer YOUR_API_KEY'
      x-gitbook-description-html: <p>使用 Bearer 令牌进行认证，格式：'Bearer YOUR_API_KEY'</p>
  responses:
    ErrorResponse:
      description: 错误响应
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      x-gitbook-description-html: <p>错误响应</p>
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            type:
              type: string
            param:
              type: string
              nullable: true
            code:
              type: string
              nullable: true
    CreateChatCompletionRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          description: 要使用的模型 ID
          x-gitbook-description-html: <p>要使用的模型 ID</p>
        messages:
          type: array
          description: 消息列表，包含对话历史
          items:
            $ref: '#/components/schemas/ChatCompletionMessage'
          x-gitbook-description-html: <p>消息列表，包含对话历史</p>
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1
          description: 采样温度，值越高输出越随机。取值范围：0～2，默认值：1。
          x-gitbook-description-html: <p>采样温度，值越高输出越随机。取值范围：0～2，默认值：1。</p>
        top_p:
          type: number
          minimum: 0
          maximum: 1
          default: 1
          description: 核采样概率，模型考虑前 top_p 概率质量的令牌。取值范围：0～1，默认值：1。
          x-gitbook-description-html: <p>核采样概率，模型考虑前 top_p 概率质量的令牌。取值范围：0～1，默认值：1。</p>
        'n':
          type: integer
          minimum: 1
          default: 1
          description: 为每条输入消息生成多少个补全选项
          x-gitbook-description-html: <p>为每条输入消息生成多少个补全选项</p>
        stream:
          type: boolean
          default: false
          description: 是否流式输出结果
          x-gitbook-description-html: <p>是否流式输出结果</p>
        stop:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          description: 最多4个停止词，遇到这些词时停止生成
          x-gitbook-description-html: <p>最多4个停止词，遇到这些词时停止生成</p>
        max_tokens:
          type: integer
          deprecated: true
          description: （已弃用）生成的最大令牌数，建议使用 max_completion_tokens 替代。
          x-gitbook-description-html: <p>（已弃用）生成的最大令牌数，建议使用 max_completion_tokens 替代。</p>
        max_completion_tokens:
          type: integer
          description: 生成的最大完成令牌数。对于推理模型，这是首选参数。
          x-gitbook-description-html: <p>生成的最大完成令牌数。对于推理模型，这是首选参数。</p>
        presence_penalty:
          type: number
          minimum: -2
          maximum: 2
          default: 0
          description: 根据新令牌是否在文本中出现过进行惩罚。取值范围：-2～2，默认值：0。
          x-gitbook-description-html: <p>根据新令牌是否在文本中出现过进行惩罚。取值范围：-2～2，默认值：0。</p>
        frequency_penalty:
          type: number
          minimum: -2
          maximum: 2
          default: 0
          description: 根据新令牌在文本中的现有频率进行惩罚。取值范围：-2～2，默认值：0。
          x-gitbook-description-html: <p>根据新令牌在文本中的现有频率进行惩罚。取值范围：-2～2，默认值：0。</p>
        logit_bias:
          type: object
          additionalProperties:
            type: number
          description: 修改指定令牌出现的概率
          x-gitbook-description-html: <p>修改指定令牌出现的概率</p>
        user:
          type: string
          description: 最终用户的唯一标识符
          x-gitbook-description-html: <p>最终用户的唯一标识符</p>
        tools:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionTool'
          description: 模型可以调用的工具列表。
          x-gitbook-description-html: <p>模型可以调用的工具列表。</p>
        tool_choice:
          oneOf:
            - type: string
              enum:
                - none
                - auto
            - type: object
              required:
                - type
                - function
              properties:
                type:
                  type: string
                  enum:
                    - function
                function:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
          description: 控制模型调用工具的方式。
          x-gitbook-description-html: <p>控制模型调用工具的方式。</p>
    ChatCompletionMessage:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum:
            - system
            - user
            - assistant
            - tool
            - function
          description: 消息作者的角色
          x-gitbook-description-html: <p>消息作者的角色</p>
        content:
          anyOf:
            - type: string
              nullable: true
            - type: array
              items:
                $ref: '#/components/schemas/ChatCompletionContentPart'
          description: 消息内容。可以是字符串或内容部件数组（用于多模态输入）。
          x-gitbook-description-html: <p>消息内容。可以是字符串或内容部件数组（用于多模态输入）。</p>
        name:
          type: string
          description: 消息作者的可选名称
          x-gitbook-description-html: <p>消息作者的可选名称</p>
        tool_calls:
          type: array
          description: 模型生成的工具调用列表（仅出现在助手消息中）
          items:
            $ref: '#/components/schemas/ChatCompletionMessageToolCall'
          x-gitbook-description-html: <p>模型生成的工具调用列表（仅出现在助手消息中）</p>
        function_call:
          $ref: '#/components/schemas/FunctionCall'
          description: 模型生成的函数调用（已弃用，建议使用 tool_calls）
          x-gitbook-description-html: <p>模型生成的函数调用（已弃用，建议使用 tool_calls）</p>
    ChatCompletionContentPart:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - text
            - image_url
      discriminator:
        propertyName: type
      oneOf:
        - $ref: '#/components/schemas/ChatCompletionContentPartText'
        - $ref: '#/components/schemas/ChatCompletionContentPartImage'
    ChatCompletionContentPartText:
      type: object
      required:
        - type
        - text
      properties:
        type:
          type: string
          enum:
            - text
        text:
          type: string
    ChatCompletionContentPartImage:
      type: object
      required:
        - type
        - image_url
      properties:
        type:
          type: string
          enum:
            - image_url
        image_url:
          type: object
          required:
            - url
          properties:
            url:
              type: string
            detail:
              type: string
              enum:
                - auto
                - low
                - high
    ChatCompletionMessageToolCall:
      type: object
      required:
        - id
        - type
        - function
      properties:
        id:
          type: string
          description: 工具调用的 ID
          x-gitbook-description-html: <p>工具调用的 ID</p>
        type:
          type: string
          enum:
            - function
          description: 工具类型，目前仅为 'function'
          x-gitbook-description-html: <p>工具类型，目前仅为 'function'</p>
        function:
          $ref: '#/components/schemas/FunctionCall'
          description: 调用的函数
          x-gitbook-description-html: <p>调用的函数</p>
    FunctionCall:
      type: object
      required:
        - arguments
      properties:
        name:
          type: string
          description: 函数名称
          x-gitbook-description-html: <p>函数名称</p>
        arguments:
          type: string
          description: 函数参数的 JSON 字符串
          x-gitbook-description-html: <p>函数参数的 JSON 字符串</p>
    ChatCompletionTool:
      type: object
      required:
        - type
        - function
      properties:
        type:
          type: string
          enum:
            - function
        function:
          $ref: '#/components/schemas/FunctionObject'
    FunctionObject:
      type: object
      required:
        - name
      properties:
        description:
          type: string
        name:
          type: string
        parameters:
          type: object
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum:
            - chat.completion
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionChoice'
        usage:
          $ref: '#/components/schemas/Usage'
    ChatCompletionChoice:
      type: object
      properties:
        index:
          type: integer
        message:
          $ref: '#/components/schemas/ChatCompletionMessage'
        finish_reason:
          type: string
          enum:
            - stop
            - length
            - content_filter
            - tool_calls
            - function_call
    CreateCompletionRequest:
      type: object
      required:
        - model
        - prompt
      properties:
        model:
          type: string
        prompt:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        suffix:
          type: string
          description: 插入文本之后的结束符
          x-gitbook-description-html: <p>插入文本之后的结束符</p>
        max_tokens:
          type: integer
          default: 16
          deprecated: true
          description: （已弃用）生成的最大令牌数，建议使用 max_completion_tokens 替代（若模型支持）。
          x-gitbook-description-html: <p>（已弃用）生成的最大令牌数，建议使用 max_completion_tokens 替代（若模型支持）。</p>
        temperature:
          type: number
          default: 1
        top_p:
          type: number
          default: 1
        'n':
          type: integer
          default: 1
        stream:
          type: boolean
          default: false
        logprobs:
          type: integer
          minimum: 0
          maximum: 5
          description: 返回对数概率的数量
          x-gitbook-description-html: <p>返回对数概率的数量</p>
        echo:
          type: boolean
          default: false
          description: 是否在输出中回显提示
          x-gitbook-description-html: <p>是否在输出中回显提示</p>
        stop:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        presence_penalty:
          type: number
        frequency_penalty:
          type: number
        best_of:
          type: integer
          minimum: 1
          description: 生成 best_of 个补全，并返回最好的一个
          x-gitbook-description-html: <p>生成 best_of 个补全，并返回最好的一个</p>
        logit_bias:
          type: object
          additionalProperties:
            type: number
        user:
          type: string
    CompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum:
            - text_completion
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            $ref: '#/components/schemas/CompletionChoice'
        usage:
          $ref: '#/components/schemas/Usage'
    CompletionChoice:
      type: object
      properties:
        text:
          type: string
        index:
          type: integer
        logprobs:
          type: object
          properties:
            tokens:
              type: array
              items:
                type: string
            token_logprobs:
              type: array
              items:
                type: number
            top_logprobs:
              type: array
              items:
                type: object
                additionalProperties:
                  type: number
            text_offset:
              type: array
              items:
                type: integer
        finish_reason:
          type: string
          enum:
            - stop
            - length
            - content_filter
    CreateEmbeddingRequest:
      type: object
      required:
        - model
        - input
      properties:
        model:
          type: string
        input:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
            - type: array
              items:
                type: array
                items:
                  type: integer
          description: >-
            Input text to embed, encoded as a string, array of strings, or token
            IDs (array of integers) for a single input, or an array of token ID
            arrays for multiple inputs.
          x-gitbook-description-html: >-
            <p>Input text to embed, encoded as a string, array of strings, or
            token IDs (array of integers) for a single input, or an array of
            token ID arrays for multiple inputs.</p>
        encoding_format:
          type: string
          enum:
            - float
            - base64
          default: float
          description: >-
            The format to return the embeddings in. Can be either 'float' or
            'base64'.
          x-gitbook-description-html: >-
            <p>The format to return the embeddings in. Can be either 'float' or
            'base64'.</p>
        dimensions:
          type: integer
          minimum: 1
          description: >-
            The number of dimensions the resulting output embeddings should
            have. Only supported in text-embedding-3 and later models.
          x-gitbook-description-html: >-
            <p>The number of dimensions the resulting output embeddings should
            have. Only supported in text-embedding-3 and later models.</p>
        user:
          type: string
          description: A unique identifier representing your end-user.
          x-gitbook-description-html: <p>A unique identifier representing your end-user.</p>
    EmbeddingResponse:
      type: object
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Embedding'
        model:
          type: string
        usage:
          $ref: '#/components/schemas/Usage'
    Embedding:
      type: object
      properties:
        object:
          type: string
          enum:
            - embedding
        embedding:
          oneOf:
            - type: array
              items:
                type: number
            - type: string
          description: >-
            The embedding vector, which is a list of floats or a base64-encoded
            string depending on the encoding_format parameter.
          x-gitbook-description-html: >-
            <p>The embedding vector, which is a list of floats or a
            base64-encoded string depending on the encoding_format
            parameter.</p>
        index:
          type: integer
    ModelList:
      type: object
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model'
    Model:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum:
            - model
        created:
          type: integer
        owned_by:
          type: string
    Usage:
      type: object
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
    CreateImageGenerationRequest:
      type: object
      required:
        - model
        - prompt
      properties:
        model:
          type: string
        prompt:
          type: string
          description: 图像的文本描述
          x-gitbook-description-html: <p>图像的文本描述</p>
        'n':
          type: integer
          minimum: 1
          default: 1
          description: 生成的图像数量
          x-gitbook-description-html: <p>生成的图像数量</p>
        quality:
          type: string
          enum:
            - standard
            - hd
          default: standard
          description: 图像质量
          x-gitbook-description-html: <p>图像质量</p>
        response_format:
          type: string
          enum:
            - url
            - b64_json
          default: url
          description: 返回图像数据的格式
          x-gitbook-description-html: <p>返回图像数据的格式</p>
        size:
          type: string
          enum:
            - 256x256
            - 512x512
            - 1024x1024
            - 1792x1024
            - 1024x1792
          default: 1024x1024
          description: 生成图像的尺寸
          x-gitbook-description-html: <p>生成图像的尺寸</p>
        style:
          type: string
          enum:
            - vivid
            - natural
          default: vivid
          description: 图像的风格
          x-gitbook-description-html: <p>图像的风格</p>
        user:
          type: string
    CreateImageEditRequest:
      type: object
      required:
        - model
        - images
        - prompt
      properties:
        model:
          type: string
          description: 用于图像生成的模型
          x-gitbook-description-html: <p>用于图像生成的模型</p>
        images:
          type: array
          items:
            type: string
            format: binary
          minItems: 1
          maxItems: 16
          description: >-
            要编辑的输入图像引用。最多可提供 16 张图像。每张图像应为有效的 PNG 文件，小于 20MB，且为正方形。或者，也可以通过文件
            API ID（`file_id`）或 URL（`image_url`）引用图像。
          x-gitbook-description-html: >-
            <p>要编辑的输入图像引用。最多可提供 16 张图像。每张图像应为有效的 PNG 文件，小于 20MB，且为正方形。或者，也可以通过文件
            API ID（<code>file_id</code>）或 URL（<code>image_url</code>）引用图像。</p>
        mask:
          type: string
          format: binary
          description: >-
            可选的蒙版图像。必须是有效的 PNG 文件，小于 20MB，且尺寸与第一张图像相同。或者，也可以通过文件 API
            ID（`file_id`）或 URL（`image_url`）引用蒙版。
          x-gitbook-description-html: >-
            <p>可选的蒙版图像。必须是有效的 PNG 文件，小于 20MB，且尺寸与第一张图像相同。或者，也可以通过文件 API
            ID（<code>file_id</code>）或 URL（<code>image_url</code>）引用蒙版。</p>
        prompt:
          type: string
          description: 描述所需编辑的文本
          x-gitbook-description-html: <p>描述所需编辑的文本</p>
        'n':
          type: integer
          minimum: 1
          default: 1
          description: 要生成的图像数量，介于 1 和 10 之间
          x-gitbook-description-html: <p>要生成的图像数量，介于 1 和 10 之间</p>
        size:
          type: string
          enum:
            - 256x256
            - 512x512
            - 1024x1024
          default: 1024x1024
          description: 生成图像的尺寸
          x-gitbook-description-html: <p>生成图像的尺寸</p>
        response_format:
          type: string
          enum:
            - url
            - b64_json
          default: url
          description: 返回生成图像的格式
          x-gitbook-description-html: <p>返回生成图像的格式</p>
        user:
          type: string
          description: 代表最终用户的唯一标识符
          x-gitbook-description-html: <p>代表最终用户的唯一标识符</p>
    ImageGenerationUsage:
      type: object
      properties:
        total_tokens:
          type: integer
          description: 使用的总令牌数
          x-gitbook-description-html: <p>使用的总令牌数</p>
        input_tokens:
          type: integer
          description: 使用的输入令牌数
          x-gitbook-description-html: <p>使用的输入令牌数</p>
        output_tokens:
          type: integer
          description: 使用的输出令牌数
          x-gitbook-description-html: <p>使用的输出令牌数</p>
        input_tokens_details:
          type: object
          properties:
            text_tokens:
              type: integer
              description: 文本输入令牌数
              x-gitbook-description-html: <p>文本输入令牌数</p>
            image_tokens:
              type: integer
              description: 图像输入令牌数
              x-gitbook-description-html: <p>图像输入令牌数</p>
          description: 输入令牌的详细分解
          x-gitbook-description-html: <p>输入令牌的详细分解</p>
    ImageResponse:
      type: object
      properties:
        created:
          type: integer
          description: 图像创建的 Unix 时间戳（秒）
          x-gitbook-description-html: <p>图像创建的 Unix 时间戳（秒）</p>
        background:
          type: string
          enum:
            - transparent
            - opaque
          description: 图像生成使用的背景参数，可以是透明（transparent）或不透明（opaque）
          x-gitbook-description-html: <p>图像生成使用的背景参数，可以是透明（transparent）或不透明（opaque）</p>
        output_format:
          type: string
          enum:
            - png
            - webp
            - jpeg
          description: 图像生成的输出格式，可以是 png、webp 或 jpeg
          x-gitbook-description-html: <p>图像生成的输出格式，可以是 png、webp 或 jpeg</p>
        quality:
          type: string
          enum:
            - low
            - medium
            - high
          description: 生成图像的质量，可以是低（low）、中（medium）或高（high）
          x-gitbook-description-html: <p>生成图像的质量，可以是低（low）、中（medium）或高（high）</p>
        size:
          type: string
          enum:
            - 1024x1024
            - 1024x1536
            - 1536x1024
          description: 生成图像的尺寸
          x-gitbook-description-html: <p>生成图像的尺寸</p>
        data:
          type: array
          description: 生成的图像列表
          items:
            type: object
            properties:
              url:
                type: string
              b64_json:
                type: string
              revised_prompt:
                type: string
                description: 用于生成图像的提示（如果提示经过修订）
                x-gitbook-description-html: <p>用于生成图像的提示（如果提示经过修订）</p>
          x-gitbook-description-html: <p>生成的图像列表</p>
        usage:
          $ref: '#/components/schemas/ImageGenerationUsage'
    CreateTranscriptionRequest:
      type: object
      required:
        - model
        - file
      properties:
        model:
          type: string
        file:
          type: string
          format: binary
          description: 音频文件对象（支持 mp3、mp4、mpeg、mpga、m4a、wav、webm 等格式）
          x-gitbook-description-html: <p>音频文件对象（支持 mp3、mp4、mpeg、mpga、m4a、wav、webm 等格式）</p>
        language:
          type: string
          description: 输入音频的语言（ISO-639-1 代码）
          x-gitbook-description-html: <p>输入音频的语言（ISO-639-1 代码）</p>
        prompt:
          type: string
          description: 可选的提示词，用于指导转录
          x-gitbook-description-html: <p>可选的提示词，用于指导转录</p>
        response_format:
          type: string
          enum:
            - json
            - text
            - srt
            - verbose_json
            - vtt
          default: json
        temperature:
          type: number
          minimum: 0
          maximum: 1
          default: 0
        timestamp_granularities:
          type: array
          items:
            type: string
            enum:
              - word
              - segment
          description: 响应中包含的时间戳粒度
          x-gitbook-description-html: <p>响应中包含的时间戳粒度</p>
    TranscriptionResponse:
      type: object
      properties:
        text:
          type: string
        task:
          type: string
        language:
          type: string
        duration:
          type: number
        segments:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              seek:
                type: integer
              start:
                type: number
              end:
                type: number
              text:
                type: string
              tokens:
                type: array
                items:
                  type: integer
              temperature:
                type: number
              avg_logprob:
                type: number
              compression_ratio:
                type: number
              no_speech_prob:
                type: number
        words:
          type: array
          items:
            type: object
            properties:
              word:
                type: string
              start:
                type: number
              end:
                type: number

